*{margin: 0;
padding: 0;}
main{
    background-color:royalblue;
    width: 880px;
    height: fit-content;
    margin: auto;
    padding-left: 35px;
  }
  main nav{
    background-color:whitesmoke;
    width: 395px;
    height:395px;
    margin: 20px 40px 20px 0;
    display: inline-block;
  }
   main>nav>article{
     width: 395px;
     height: 197.5px;
   }
   main>nav>article>article{
     width: 185px;
     height: 185px;
     border-radius: 50%;
     background-color:gray;
     display:inline-block;
     margin: 10px 0 5px 0;
   }
   main>div{
     width: 420px;
     height: 210px;
     background-color: darkkhaki;
     margin: 0 30px 10px 210px;
   }
   main>div>nav{
     height: 190px;
     width: 190px;
     background-color: gray;
     border-radius: 50%;
     margin: 10px 10px 10px 10px;
   }main>main{
     width: 500px;
     height: 250px;
     margin: 0 5px 10px 0;
     padding-left:5px; 
     display: inline-block;
  }
  main>main>article{
    width: 150px;
    height: 230px;
    background-color:whitesmoke;
    display: inline-block;
    margin: 10px 0 10px 10px; 
  }
  main>main>article>nav{
    width: 130px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
    margin:15px 5px 5px 10px;
  }
  main>article>main{
    width: 315px;
    height: 115px;
  }
  main>article{
    width: 315px;
    height: 230px;
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px 0 20px 0;
  }
  main>article>main>div{
    width: 90px;
     height: 90px;
     border-radius: 50%;
     background-color:gray;
     display:inline-block;
     margin: 10px 0 5px 0;
  }
    /*barramenu*/
nav{
    background-color: #FF1744;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
  }
  nav ul li a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(31, 28, 28);
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
  
  .active{
    background-color: blueviolet;
  }